@import "tailwindcss";

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
main {
  padding: 24px;
}
a {
  color: inherit;
  text-decoration: underline;
}
